.aboutWrapper h1 {
    text-align: center;
    margin: 200px 0px 0px 0px;
    font-size: 50px;
    color: white;
}

.aboutWrapper h2 {
    text-align: center;
    margin: 30px 0px 0px 0px;
    color: white;
}

.aboutWrapper p {
    text-align: center;
    margin: 200px 0px 0px 400px;
    width: 45%;
    color: white;
}

.aboutBackgroundImage img {
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -2;
    opacity: 60%;
    top: 0;
}

.aboutGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 300px;
    margin-bottom: 100px;
}

.aboutColumn1 {
    background: rgb(40, 40, 40);
    min-width: 30%;
    padding: 40px 20px 60px 20px;
    border: 2px solid rgb(15, 15, 15);
    text-align: center;
    margin-left: 200px;
    border-radius: 10px;
    color: white;
}

.aboutColumn1 img {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutColumn2 {
    background: rgb(40, 40, 40);
    min-width: 30%;
    padding: 40px 20px 60px 20px;
    border: 2px solid rgb(15, 15, 15);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    color: white;
}

.aboutColumn2 .symbol {
    font-size: 100px;
}

.aboutColumn3 {
    background: rgb(40, 40, 40);
    min-width: 30%;
    padding: 40px 20px 60px 20px;
    border: 2px solid rgb(15, 15, 15);
    text-align: center;
    margin-right: 200px;
    border-radius: 10px;
    color: white;
}

.aboutColumn3 img {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.aboutCircle1 {
    height: 500px;
    width: 500px;
    background-color: rgb(5, 255, 96);
    border-radius: 50%;
    filter: blur(10px);
    position: fixed;
    left: 0;
    left: 35%;
    transform: translate(-200%, -150%);
    z-index: -3;
    opacity: 25%;
}

.aboutCircle2 {
    height: 500px;
    width: 500px;
    background-color: rgb(5, 255, 96);
    border-radius: 50%;
    filter: blur(10px);
    position: fixed;
    right: 0;
    transform: translate(50%, -20%);
    z-index: -3;
    opacity: 25%;
}