.HomeAboutUs {
    margin: 100px auto;
    display: flex-start;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: #1DB954
}

.HomeAboutUs h3{
    font-weight: 600;
    font-weight: 16px;
}

.HomeAboutUs h2{
    font-size: 35px;
    color: #FFFFFF;
    margin: 10px 0;
    max-width: 600px;
}

.HomeAboutUs p{
    color: #808080;
    margin-bottom: 15px;
    max-width: 600px;
}

.HomeAboutUs button{
    transform: translateX(100%);
    background: #8a4dff;
}