/* Formatting for Login page */
.wrapper {
    width: 420px;
    background: rgb(164, 164, 164);
    color: #000;
    margin: auto;
    border-radius: 10px;
    padding: 1px 0px;
}

.wrapper h1 {
    font-size: 36px;
}

.wrapper .input-box {
    position: relative;
    height: 30px;
}

.wrapper button {
    width: 100px;
    height: 25px;
    border-radius: 40px;
}

.wrapper .register {
    font-size: 14px;
    text-align: center;
    margin: 10px 0 30px;
}
