.HomeContact {
    margin: 100px auto;
    display: flex-end;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.HomeContact h3{
    font-weight: 600;
    font-weight: 16px;
    color: #1DB954
}

.HomeContact h2{
    font-size: 35px;
    color: #FFFFFF;
    margin: 10px 0;
    max-width: 600px;
}

.HomeContact p{
    color: #808080;
    margin-bottom: 15px;
    max-width: 600px;
}

.HomeContact button{
    transform: translateX(150%);
    background: #8a4dff;
}